<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd


       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
>
    <!--    读取属性文件-->
    <context:property-placeholder location="classpath:aaa.properties"></context:property-placeholder>

    <!--    扫描 com 这个文件夹， 既包含 dao 和 service, 自动实例化所有对象 -->
    <context:component-scan base-package="com">
    </context:component-scan>

    <!--    -->
</beans>